.3T/
.PortfolioPerformance/
.Xauthority
.Xresources
.android/
.arduino15/
.arduinoIDE/
.aws/
.bash_history
.bash_logout
.bash_profile
.bashrc
.bastetscores
.cache/
.cargo/
.config/.mono/
.config/Arduino IDE/
.config/Code - OSS/
.config/Electron/
.config/Element/
.config/GIMP/
.config/JetBrains/
.config/KeePass/
.config/Kitware/
.config/Lens/
.config/Microsoft/
.config/MongoDB Compass/
.config/Nextcloud/
.config/Postman/
.config/PrusaSlicer/
.config/QtProject.conf
.config/QtProject/
.config/Raspberry Pi/
.config/Rocket.Chat/
.config/TabNine/
.config/TradingView/
.config/_wireplumber/
.config/aiven/
.config/alacritty/alacritty.yml.bak
.config/arduino-ide/
.config/aseprite/
.config/audacity/
.config/autostart/
.config/btop/
.config/cef_user_data/
.config/chromium/
.config/clipit/
.config/com.yuezk.qt/
.config/configstore/
.config/create-next-app-nodejs/
.config/dconf/
.config/deepin/
.config/discord/
.config/fontconfig/
.config/git/
.config/github-copilot/
.config/gnome-games/
.config/godot/
.config/google-cloud-tools-java/
.config/gtk-2.0/
.config/gtk-3.0/
.config/gtk-4.0/
.config/hardhat-nodejs/
.config/htop/
.config/jgit/
.config/k9s/
.config/kafka/
.config/kcat.conf
.config/kdeglobals
.config/kdiamondrc
.config/keepassxc/
.config/kglobalshortcutsrc
.config/kminesrc
.config/libreoffice/
.config/lsp-plugins/
.config/menus/
.config/mic_volume
.config/mimeapps.list
.config/nautilus/
.config/neofetch/
.config/nextjs-nodejs/
.config/nvim.bak/
.config/nvim_bak/
.config/obs-studio/
.config/obsidian/
.config/pavucontrol.ini
.config/pulse/
.config/qBittorrent/
.config/qmk/
.config/rncbc.org/
.config/spectaclerc
.config/spotify/
.config/sqlitebrowser/
.config/systemd/
.config/teams/
.config/tetris-cli/
.config/torbrowser/
.config/truffle-nodejs/
.config/via-nativia/
.config/vlc/
.config/wireshark/
.config/yarn/
.config/zoom.conf
.config/zoomus.conf
.designer/
.docker/
.dotnet/
.eclipse/
.electrum/
.fehbg
.fzf.bash
.fzf.zsh
.fzf/
.gitconfig
.gnome/
.gnupg/
.gradle/
.hunter/
.ideavimrc
.java/
.jdks/
.keras/
.ku
.kube/
.lemminx/
.lesshst
.links/
.local/
.lynxrc
.m2/
.mongodb/
.mozilla/
.nmcli-history
.node-gyp/
.npm/
.nuget/
.nuxtrc
.nvidia-settings-rc
.nvm/
.oh-my-zsh/
.pki/
.rustup/
.screenlayout/
.solc/
.sonarlint/
.sqlite_history
.ssh/
.stack/
.swt/
.terraform.d/
.testcontainers.properties
.themes/
.thunderbird/
.vim/
.viminfo
.vimrc
.vscode-oss/
.wget-hsts
.yarn/
.yarnrc
.zcompdump-archlinux-5.9
.zcompdump-archlinux-5.9.zwc
.zcompdump-twundenberg-breuni-5.9
.zcompdump-twundenberg-breuni-5.9.zwc
.zoom/
.zsh_history
.zshrc
Arduino/
Desktop/
Documents/
Downloads/
Images/
Nextcloud/
Pictures/
Recordings/
aktionen-problem-dev/
aktionen-problem/
eclipse-workspace/
go/
preise-problem/
reinstall
runtime-PortfolioPerformance/
source/
